body{
    background-color:#fafafa;
    text-align:center;
}


input{

    display:block;
    padding:10px 250px 10px 10px;
    border:2px solid rgb(237, 237, 237);
    margin-top:15px;
    border-radius:5px;

}

i{
    border:none;
    border-radius:50%;
    padding:15px;
    background-color:#5492fe;
    margin-right:10px;
}

.form1{
    display:inline-flex;
    
}

.form2{
    display:inline-flex;
}

.get{
    background-color:#ffffff;
    padding:20px 30px 60px 30px;
    text-align:left;
    box-shadow: 5px 10px 10px #e6e6e6;
    border:none;
    border-radius:10px;
    margin-right:-10px;

    
}

.cont{
    background-color:#3d89f7;
    text-align:justify;
    padding:20px 30px 105px 30px;
    color:#fbfbfb;
    border:none;
    border-radius:5px;
    
}

.name{
    display:inline;
    padding:10px 30px 10px 10px;
    margin-right:10px;
    border:2px solid rgb(237, 237, 237);
}

.email{
    display:inline;
    padding:10px 30px 10px 10px;
    
}

.msg{
    padding:10px 250px 110px 10px;
    border:2px solid rgb(237, 237, 237);
}

i{
    display:inline;
}

h5{
    display:inline;
}

.website{
    display:inline;
}

h4{
    font-size: 25px;
    line-height: 1.8;
    font-weight: normal;
    font-family: "Poppins", Arial, sans-serif;
    margin-left:2px;
    margin-bottom:2px;
}

h1{
    margin-top:40px;
    margin-bottom:30px;
    font-weight: normal;
    font-family: "Poppins", Arial, sans-serif;
}

h5{
    line-height: 1.8;
    font-weight: bold;
    font-family: "Poppins", Arial, sans-serif;
    font-size:15px;


}

label{
    line-height: 1.8;
    font-weight: normal;
    font-family: "Poppins", Arial, sans-serif;
    font-size:15px;

}

button{
    font-size: 13px;
    font-weight: bold;
    font-family: "Poppins", Arial, sans-serif;
    background-color: #3d89f7;
    color:white;
    border:none;
    border-radius:3px;
    padding:10px;
    margin-top:15px;
}

h2{
    font-weight: normal;
    font-family: "Poppins", Arial, sans-serif;
}

.st{
    margin-left:55px;
    line-height: 1.8;
    font-weight: normal;
    font-family: "Poppins", Arial, sans-serif;
    font-size:15px;
    margin-top:-10px;
    display:block;
}